* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header {
    width: 100%;
    height: 500px;
    background-image: url('/images/disney-castle.jpg');
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    mask-image: linear-gradient(
        white 80%,
        transparent
    );

}
.main {
    margin: 20px auto;
    padding: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-label {
    margin-right: 10px;
    font-weight: bold;
}

.character-input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}

.search-button {
    padding: 5px 16px;
    font-size: 14px;
    background-color: #007bffcd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
}

.search-button:hover {
    background-color: #0056b3;
    scale: 0.9;
}

.reset-button, .clear-button{
    padding: 5px 16px;
    font-size: 13px;
    background-color: white;
    color: #007bffcd;
    border: 1px solid #007bffcd;
    border-radius: 4px;
    cursor: pointer;
}

.reset-button:hover, .clear-button:hover {
    scale: 0.9;
}

.characters_and_favourites {
    display: flex;
    justify-content: space-around;
}

.favourites_section {
    min-width: 30vw;
    text-align: center;
}

.characters_title, .favourites_title {
    color: #007bffcd;
    text-align: center;
    margin-block: 30px;
    font-size: 20px;
}

.characters_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.characters_card {
    width: 150px;
    height: 180px;
    border: 1px solid #007bffcd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_img_container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}

.card_img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.card_text {
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #003670;
}

.favourite {
    background-color: rgba(240, 128, 128, 0.577);
}